body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fefff8;
}
.page{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 30pt;
}
.x{
    border-radius: 20px;
    padding: 0.5rem;
    transition: all 0.5s ease;

    &:hover {
      background-color: rgba(118, 118, 117, 0.5);
    }
    
}
a{
    text-decoration: none;
    font-size: 20pt;
}
.header{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    border: 0px solid black;
    height: 15vh;
    position: relative;
    backdrop-filter: blur(20px);
    box-shadow: 0px 10px 6px 0px #777;
    //背景模糊度為20px backdrop-filter: blur(20px);
    .p1{
        height: 100px;
        width: 100px;
        object-position: 0rem 0rem;
    }  
}
.second{
    display: flex;
    margin: 30px;
    .left{
        height: 90vh;
        width: 200vw;
        border: 0px solid black;
    }
    .right{
        .u{margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30pt
        }
        margin: 50px;
        height: 80vh;
        flex-direction: column;
        border: 0px solid black;
        .seeMoreArea {
            display: flex;
            line-height: 3rem;
            transition: all 0.5s ease;
  
            &:hover {
              a {
                color: rgba(250, 86, 86, 0.8);
                scale: 1.2;
  
                &::after {
                  border-bottom-color: rgba(250, 86, 86, 0.8);
                }
              }
            }
    }
}}