@import url();
@font-face {
    font-family: "FONT123";
    src: url(".");
}

*{
    font-family: "FONT123",sans-serif;
}

body{
margin: 0;
height: 100vh;
width: 100vw;
background-color: #fefff8;

}




.header{
display: flex;
justify-content:space-around ;
align-items: center;
border: 0px solid black;
height: 16vh;
position: relative;
backdrop-filter: blur(20px);
box-shadow: 0px 5px 6px 0px #777;
//背景模糊度為20px backdrop-filter: blur(20px);

.hedertitle{
font-size: 20pt;
text-decoration: none;
display: flex;
justify-content:space-around ;
align-items: center;
height: 110px;
width: 340px;
border: 0px solid black;
a{

    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s ease; 
    text-decoration: none;
    color: black;
    &:hover {
    color: red;
    
    }
    }

.hedertitlepicture{
height: 100px;
width: 100px;
} 

}
.hederAlink{
font-size: 17pt; 
display: flex;
width: 150px;
height: 70px;
flex-direction: column;
justify-content: center;
align-items: center; 
border: 0px solid black;
a{

    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s ease; 
    text-decoration: none;
    color: black;
    &:hover {
    color: red;
    background-color: rgba(118, 118, 117, 0.5);
    }
    }


}
}
.second{
    display: flex;
    margin: 30px;
    flex-direction: column;
    .secondtitle1{
justify-content: center;
        display: flex;
    }
    .secondtitle2{
        justify-content: space-between;
        display: flex;
        a{

            border-radius: 10px;
            padding: 5px;
            transition: all 0.5s ease; 
            text-decoration: none;
            color: black;
            &:hover {
            color: red;
            background-color: rgba(118, 118, 117, 0.5);
            }
            }

    }
.secondContent{
display: flex;
border: 0px solid black;
width: 95vw;
height: 100vh;
.secondleft{
height: 100%;
width: 47vw;
border: 0px solid black;
}
.secondright{
    height: 90%;
    width: 47vw;
    border: 0px solid black;
    margin: 10px;
    position: relative;
    right: 5%;

}

}}
.footer{
    height: 60vh;
    width: 100vw;
    border: 0px solid black;
    background-image: url("./../picture/9.jpg");
    z-index: -2;
    .footerHead{
        height: 10vh;
        border: 0px solid black;
        background-color: black ;
        opacity:0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            border-radius: 10px;
            padding: 5px;
            transition: all 0.5s ease; 
            text-decoration: none;
            color: rgb(255, 255, 255);
            &:hover {
            color: red;
            background-color: rgba(118, 118, 117, 0.5);
            }
            }
      
        
    }  
.footerlefter{
height: 40vh;
width: 58vw;
border: 0px solid rgb(255, 255, 255);
position: relative;
top: 10%;
left: 2%;
.footerwords{
    border: 0px solid rgb(255, 255, 255);
    height: 80px;
width: 305px;
color: rgb(221, 221, 221);
position: relative;
left: 23%;
bottom: 21%;



}

.laderwords{
    width: 60vw;
    height: 30px;
    position: relative;
    top: 15%;
    border: 0px solid rgb(255, 255, 255);
    color: rgb(112, 67, 148);

}

}
.footerRighter{
width: 35vw;
height: 30vh;
position: relative;
left: 62%;
border: 0px solid rgb(255, 255, 255);
bottom: 45%;
.iconALink{
    color: rgb(221, 221, 221);
    border: 0px solid rgb(255, 255, 255);
font-size: 24pt;
display: flex;
justify-content: space-around;
width: 17vw;
position: relative;
left: 48%;
transition: all 0.5s ease;

}
.rightwords{
    color: rgb(221, 221, 221);
    border: 0px solid rgb(255, 255, 255);
    display: flex;
align-items: center;
margin: 10px;
    width: 28vw;
    position: relative;
    left: 21%;
    font-size: 10pt;
}

}
}